.calendar {
  max-width: 570px;
  padding: 30px;
  border-radius: 30px;
  color: #000000;
  /* временно */
  border: 1px solid #ee8888;
  /* общие */
  box-sizing: border-box;
}

.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar__text {
  margin: 0;
  font-family: /*PT Root UI*/sans-serif;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2px;
}

.calendar__body {
  display: flex;
  flex-direction: column;

}

.calendar__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.calendar__title {
  margin: 0;
  font-family: /*Proto Grotesk Web Light*/sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.3;
}

.calendar__date {
  margin: 0;
  font-family: /*Proto Grotesk Web Light*/sans-serif;
  font-weight: 300;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
}

.calendar__contacts {
  margin-bottom: 30px;
}
.calendar__contacts .calendar__text:not(:last-child) {
  margin-bottom: 10px;
}
.calendar__contacts .calendar__text::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #A7A6A6;
}

.calendar__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__btn {
  
}

.calendar__more {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #224CFF;
  
}

.calendar__ellipsis {
  
}