.article {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .article {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .article {
    width: 100%;
    min-height: 142px;
    object-fit: contain;
  }
}

.article__preview {
  max-width: 1185px;
  padding: 15px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F8D162;
  border-radius: 30px;
}

@media screen and (max-width: 1770px) {
  .article__preview {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
  .article__preview {
    flex-basis: 100%;
    max-width: 290px;
  }
}

.article__rubric {
  margin-bottom: 15px;
}

.article__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: Proto Grotesk Web Light, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.3;
  text-align: center;
}

.article__subtitle {
  margin: 0;
  margin-bottom: 70px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.2px;
  color: #464646;
}

@media screen and (max-width: 768px) {
  .article__subtitle {
    margin-bottom: 40px;
  }
}

.article__image {
  display: block;
  max-width: 1125px;
  width: 100%;
  min-height: 394px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .article__image {
    min-height: 346px;
  }
}

@media screen and (max-width: 768px) {
  .article__image {
    width: 100%;
    min-height: 142px;
    object-fit: contain;
  }
}

.article__link {
  font-family: Proto Grotesk Web Light, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.2px;
  color: #224CFF;
  text-decoration: none;
}

.article__description {
  box-sizing: border-box;
  min-width: 585px;
  height: 100%;
  padding: 47px 15px 70px 30px;
  background: #FFFFFF;
  border-radius: 30px;
}

@media screen and (max-width: 1770px) {
  .article__description {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .article__description {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  .article__description {
    min-width: 290px;
  }
}

.article__owner {
  margin: 0;
  margin-bottom: 105px;
  font-family: PT Root UI, sans-serif;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #464646;
}

@media screen and (max-width: 1024px) {
  .article__owner {
    margin-bottom: 5px;
  }
}

.article__text {
  margin: 0;
  font-family: PT Root UI, sans-serif;
  font-size: 18px;
  line-height: 1.44;
}

.article__text:not(:last-child){
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .article__text:nth-last-of-type(2n) {
    display: none;
  }
}

.article_type_simple {
  display: block;
  padding-top: 120px;
  padding-bottom: 30px;
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .article_type_simple {
    
    padding-top: 30px;
  }
}

.article_color_light-blue {
  grid-area: simpleArticlePurple;
  background: #C8D1FF;
}

.article_color_green {
  grid-area: simpleArticleGreen;
  background: #8CDD94;
}

.article__quote {
  margin: 0 auto 70px;
  max-width: 930px;
  font-family: Proto Grotesk Web Light, sans-serif;
  font-weight: 300;
  font-size: 44px;
  line-height: 1.14;
  text-align: center;
  color: #1A1A1A;
}

@media screen and (max-width: 1024px) {
  .article__quote {
    max-width: 690px;
    font-size: 19px;
    line-height: 1.21;
    margin-bottom: 181px;
  }
}

@media screen and (max-width: 768px) {
  .article__quote {
    max-width: 260px;
    font-size: 19px;
    line-height: 1.21;
    margin-bottom: 66px;
  }
}

.article__link {
  display: block;
  width: 121px;
  margin: 0 auto ;
  font-family: Proto Grotesk Web Light, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.2px;
  color: #224CFF;
}