.calendar-cell {
    position: relative;
    max-width: 510px;
    padding: 30px;
    width: 100%;
    border-radius: 30px;
    align-self: stretch;
}

@media screen and (max-width: 1024px) {
    .calendar-cell {
        max-width: 350px;
        padding: 30px 15px;
    }
}

.calendar-cell__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .calendar-cell__heading {
        max-width: 350px;
    }
}

.calendar-cell__title {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .calendar-cell__title {
        padding: 5px 0 0;
        max-width: 350px;
    }
}

.cell__header {
    max-width: 350px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .cell__header {
        max-width: 220px;
    }
}

.calendar-cell__about {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px 0 0;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .calendar-cell__about {
        max-width: 350px;
    }
}

.cell__content {
    border-bottom: 1px solid #A7A6A6;
}

.cell__content:last-child {
    border-bottom: none;
}

.cell__content_time {
    padding: 0 0 10px;
}

@media screen and (max-width: 1024px) {
    .cell__content_time {
        padding: 0 0 5px;
    }
}

.cell__content_adress {
    padding: 10px 0;
    text-overflow: ellipsis;
    white-space: normal;
}

@media screen and (max-width: 1024px) {
    .cell__content_adress {
        padding: 5px 0;
    }
}

.cell__content_lead {
    padding: 10px 0 0;
}

@media screen and (max-width: 1024px) {
    .cell__content_lead {
        padding: 5px 0 0;
    }
}

.calendar-cell__signup {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 30px 0 0;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .calendar-cell__signup {
        padding: 30px 0 0;
        max-width: 350px;
    }
}

.cell__signup_count {
    padding-left: 15px;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .cell__signup_count {
        padding-left: 10px;
    }
}

.cell__signup_open-menu {
    max-width: 48px;
    min-height: 48px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #224CFF;
    padding: 10px 10px;font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: center;    
    cursor: pointer;
    color: #224CFF;
}

.cell__signup_open-menu:hover {
    background: #C8D1FF;
    transition: 2s;
}

.cell__signup_open-menu::after {
    background: #224CFF;
    color: #F3F2F2;
}

.cell__signup_open-menu::after:hover {
    background: #2E2468;
    color: #F3F2F2;
    transition: 2s;
}

@media screen and (max-width: 767px) {
    .cell__signup_open-menu {
        max-width: 40px;
        min-height: 40px;
        font-size: 18px;
        line-height: 19px;
    }
}

.cell__signup_popup {
    max-width: 48px;
    width: 100%;
    position: absolute;
    right: 30px;
}

@media screen and (max-width: 1024px) {
    .cell__signup_popup {
        max-width: 40px;
        right: 15px;
    }
}