.footer__nav-item {
  padding-bottom: 20px;
}
.footer__nav-item:last-child {
  padding-bottom: 0px;
}

@media (max-width: 1190px) {
  .footer__nav-item {
    padding: 15px 15px 0 0;
  }
  .footer__nav-item:last-child {
    padding-right: 0;
  }
}