.footer__author {
  grid-area: author;
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #F3F2F2;
  font-size: 18px;
  line-height: 26px;
  align-self: flex-end;
}

@media (max-width: 1190px) {
  .footer__author {
    font-size: 12px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}