.footer {
    position: relative;
    padding: 90px 360px 80px;
    display: flex;
    flex-direction: row;
}

@media screen  and (min-width: 1440px) and (max-width: 1919px) {
    .footer {
        padding: 90px 10% 80px;
    }
}

@media screen and (max-width: 1440px) {
    .footer {    
        display: none;
    }
}

.footer__promo {
    max-width: 670px;
    width: 100%;
}

.footer__promo-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo-link {
    margin: 0;
    padding: 0;
}

.footer__logo {
    max-width: 415px;
    min-height: 76px;
    width: 100%;
    height: 100%;
    background-image: url(./../images/footer-big-brothers-big-sisters-of-russia.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer__copyright {
    margin: 0;
    padding: 124px 0 0;
}

.footer__design {
    padding: 12px 0 0;
    display: flex;
    flex-direction: row;
}

.footer__design-students {
    margin: 0;
    padding: 0;
}

.footer__design-designers {
    margin: 0;
    padding: 0 0 0 30px;
}

.footer__navigation {
    padding: 0 0 0 130px;
    list-style: none;
    margin: 0;
}

.footer__point {
    padding: 20px 0 0;
}

.footer__navigation-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footer__contacts {
    padding: 0 0 0 45px;
    list-style: none;
    margin: 0;
}

.footer__mobile {
    position: relative;
    padding: 40px 127px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1439px) {
    .footer__mobile {    
        display: none;
    }
}

@media screen and (max-width: 967px) {
    .footer__mobile {    
        padding: 40px 15px 30px;
    }
}

.footer__mobile-logo {
    max-width: 252px;
    min-height: 46px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__mobile-navigation {
    max-width: 770px;
    width: 100%;
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #C8D1FF;
}

@media screen and (max-width: 967px) {
    .footer__mobile-navigation {
        max-width: 93%;
        padding: 30px 0 10px 0;
        justify-content: center;
    }
}

@media screen and (max-width: 967px) {
    .footer__mobile-point {
        padding: 5px 7.5px 10px;
    }
}

.footer__mobile-contacts {
    max-width: 370px;
    width: 100%;
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

@media screen and (max-width: 967px) {
    .footer__mobile-contacts {
        max-width: 80%;
        padding: 15px 0 20px 0;
        justify-content: center;
    }
}

.footer__mobile-design {
    max-width: 700px;
    width: 100%;
    padding: 30px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 967px) {
    .footer__mobile-design {
        flex-direction: column;
        align-items: center;
    }
}

.footer__mobile-copyright {
    padding: 0;
    margin: 0;
}

.footer__mobile-design-students {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 967px) {
    .footer__mobile-design-students {
        padding: 5px 0;
    }
}

.footer__mobile-design-designers {
    padding: 0;
    margin: 0;
}