.main-buttons {
  display: flex;
  list-style: none;
  margin: 40px auto 80px;
  padding: 0;
}
.main-button {
  height: 48px;
  font-family: 'Proto Grotesk Web Light', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  background-color: #F3F2F2;
  border: 1px solid #000000;
  border-radius: 100px;
  outline: none;
  padding: 13px 20px 16px;
}
.main-button_black {
  color: #F3F2F2;
  background-color: #000000;
}
.main-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}

@media (max-width: 1190px) {
  .main-buttons {
    width: 770px;
  }
  .main-button {
    height: 40px;
    font-size: 12px;
    line-height: 17px;
    padding: 11px 15px 12px;
  }
}

@media (max-width: 790px) {
  .main-buttons {
    max-width: 490px;
  }
}

@media (max-width: 500px) {
  .main-buttons {
    max-width: 290px;
  }
}