.page {
    position: relative;
    padding: 0;
    margin: 0;
    background: #F3F2F2;
    font-family: 'Proto Grotesk Web Light', 'PT Root UI', 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
	font-style: normal;
}