.title {
  text-align: center;
}

.content {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.story__image {
  border-radius: 30px;
}

.story__title {
  text-align: center;
  padding-top: 50px;
}

.story__subtitle {
  text-align: center;
  padding-top: 10px;
}

.story__intro {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}

.story__text {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

.quote {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 60px 0 ;
  display: flex;
  justify-content: center;
}
.quote__text {
  text-align: center;
}

.photogallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-areas: 
  "image-left button-left image-center button-right image-right";
  grid-column-gap: 45px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 80px 0;
}

.photogallery__image {
  width: 770px;
  border-radius: 30px;
}
.photogallery__image_left {
  grid-area: image-left;
}
.photogallery__image_center {
  grid-area: image-center;
}
.photogallery__image_right {
  grid-area: image-right;
}
.photogallery__image:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .2s linear;
}

.photogallery__arrow-right {
  grid-area: button-right;
  width: 40px;
  height: 40px;
  background: none;
  background-image: url(../images/arrow-right.svg);
  border-style: none;
  outline: none;
}
.photogallery__arrow-left {
  grid-area: button-left;
  width: 40px;
  height: 40px;
  background: none;
  background-image: url(../images/arrow-left.svg);
  border-style: none;
  outline: none;
}
.photogallery__arrow-right:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}
.photogallery__arrow-left:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}

.story__wrapper {
  margin: 0 auto;
}

.story__paragraph { 
  padding-bottom: 30px;
  margin: 0;
}
.story__paragraph:last-child {
  padding-bottom: 0;
}

.story__link {
  text-decoration: none;
}
.story__link-text {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: left;
}
.story__link-text:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}

.story__finish {
  border-top: 1px solid #000000;
  padding-bottom: 80px;
}

@media (max-width: 1190px) {
  .content {
    padding-top: 20px;
  }
  .story__title {
    padding-top: 20px;
  }
  .story__intro {
    padding-top: 20px;
  }
  .story__text {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .quote {
    padding: 30px 0;
  }
  .photogallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "image-left image-center image-right";
    grid-column-gap: 30px;
    margin: 50px 0;
  }
  .photogallery__image {
    width: 570px;
  }
  .photogallery__arrow-right {
    display: none;
  }
  .photogallery__arrow-left {
    display: none;
  }
  .story__paragraph {
    padding-bottom: 20px;
  }
  .story__link-text {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 790px) {
  .photogallery__image {
    width: 380px;
  }
}

@media (max-width: 500px) {
  .story__title {
    padding-top: 15px;
  }
  .photogallery {
    grid-column-gap: 15px;
  }
  .photogallery__image {
    width: 220px;
  }
}