.theme_green {
    background: #8CDD94;
}

.theme_white {
    background: #FFFFFF;
}

.theme_white_one-third-alpha {
    background: rgba(255, 255, 255, 0.3);
}

.theme_white_two-thirds-alpha {
    background: rgba(255, 255, 255, 0.6);
}

.theme_light_blue {
    background: #C8D1FF;
}

.theme_orange {
    background: #FF8585;
}

.theme_blue {
    background: #224CFF;
}

.theme_black {
    background: #000;
}

.theme_dark_blue {
    background: #2E2468;
}

.content_white {
    color: white;
}

.content_light_blue {
    color: #C8D1FF;
}

.content_black {
    color: black;
}

.content_light {
    color: #F3F2F2;
}