.footer__navigation {
  grid-area: navigation;
  max-width: 156px;
}

@media (max-width: 1190px) {
  .footer__navigation {
    max-width: 763px;
    border-bottom: 1px solid #C8D1FF;
    padding-bottom: 20px;
  }
}